.my-reports {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.my-reports-title {
    margin-top: 2rem;
}

.my-reports-button {
    margin-top: 2rem;
}

.report-box {
    display: flex;
    border: 2px;
    border-radius: 4rem;
    align-items: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    justify-content: center;
    background-color: #E7F0FF;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.report-filehash-box {
    border-inline-end: 2px solid;
    margin-inline-end: 0.5rem;
    padding-right: 0.5rem;
}

.filehash-box-title {
    font-style: italic;
    font-weight: bold;
}

.report-box-category {
    text-transform: uppercase;
    font-weight: bold;
}